/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* styles */

*
{
    margin: 0;
    padding: 0;

}
html 
{
    scroll-behavior: smooth;
}

body
{
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: #F6F6F6;
    
    
    
}

.menu
{
    position: sticky;
    top: 10px;
    z-index: 10;
    border: black solid;
    border-radius: 10px;
    background-color: #B80710;
    margin: 5px 10px;
    padding: 10px;
    
    
}
.menu__conteudo
{   
    display: flex;
    list-style:none;
    justify-content: center;
    gap: 300px;
    font-size: 36;
    font-family: 'krona one', sans-serif
}

.menu__conteudo a
{
    color: inherit;
    text-decoration: none;
}

.titulo-destaque 
{
    color: #CE0812;
}

.perfil
{   
    margin: 10% 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;  
    
}
.perfil__conteudo
{
  width: 615px;
  display: flex;
  flex-direction:column;
  gap: 40px;
  
}
.perfil__conteudo__titulo
{
    font-size: 36;
    font-family: 'krona one', sans-serif;

}

.perfil__conteudo__paragrafo
{
   font-size: 24; 
   font-family: 'Montserrat',sans-serif;
}
.perfil__links
{
    display:flex;
    justify-content: space-between;
}

.perfil__links__butom
{
    background-color: #B80710;
    color: black;
    border-radius: 16px;
    padding: 20.5px 22px;
    margin: 30px 15px;
    width:280px;
    height:auto;
    text-align: center;
    
}
.icone__butom
{
    align-items: center;
    width: 65px;
    height:auto;

}

.perfil__sobre
{
    margin: 300PX;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    gap: 300px;
    margin: 300px;
    
  
}
.perfil__sobre h2
{
    
    font-family: "krona one",sans-serif;
    font-size: 24px;
    margin: 15px;

    border-bottom: #B80710 4px solid;
    border-radius: 6px;
    margin-bottom: 100px;

    
}

.perfil__sobre_resumo
{
    text-align:justify;

}
.perfil__sobre__habili ul
{
    list-style: none; 
    
}

