*
{
    margin: 0;
    padding: 0;

}

body
{
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: #F6F6F6;
    
}

.titulo-destaque 
{
    color: #CE0812;
}

a
{
    background-color: #CE0812 ;
    color: black;
}