/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* styles */

*
{
    margin: 0;
    padding: 0;

}

body
{
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: #F6F6F6;
    
}

.titulo-destaque 
{
    color: #CE0812;
}

.perfil
{   
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.perfil__conteudo
{
  width: 615px;
  
}
.perfil__conteudo__titulo
{
    font-size: 36;
    font-family: 'krona one', sans-serif;

}

.perfil__conteudo__paragrafo
{
   font-size: 24; 
   font-family: 'Montserrat',sans-serif;
}
